.FeaturedCollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.FeaturedCollections .heading h1{
    font-size: 32px;
    color: #111;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.FeaturedCollections .collections{
    width: 80%;
    height: 600px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.FeaturedCollections .collections .collection1{
    background: url(../../Assets/tshirt\ collection.png) center no-repeat;
    background-size: cover;
    width: 42%;
    height: 100%;
    transition: 0.25s ease;
}

.FeaturedCollections .collections .collection2{
    background: url(../../Assets/pants\ collection.png) center no-repeat;
    background-size: cover;
    width: 42%;
    height: 100%;
    transition: 0.25s ease;
}

.FeaturedCollections .collections .collection1 .content,
.FeaturedCollections .collections .collection2 .content{
    position: relative;
    top: 70%;
    left: 20px;
    width: max-content;
}

.FeaturedCollections .collections .collection1 .content .heading,
.FeaturedCollections .collections .collection2 .content .heading{
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.FeaturedCollections .heading h1{
    text-align: center;
}

.FeaturedCollections .collections .collection1 .content a,
.FeaturedCollections .collections .collection2 .content a{
    margin: 20px 0px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s ease;
    border: 2px solid #FA8164;

}


@media screen and (max-width: 900px) {
    
    .FeaturedCollections .collections{
        height: max-content;
    }

    .FeaturedCollections .collections .collection1{
        width: 60%;
        height: 500px;
        margin: 10px 0px;
    }
    .FeaturedCollections .collections .collection2{
        width: 60%;
        height: 500px;
        margin: 10px 0px;
    }
}


@media screen and (max-width: 600px){
    .FeaturedCollections .collections{
        height: max-content;
    }

    .FeaturedCollections .collections .collection1{
        width: 95%;
        height: 400px;
        margin: 10px 0px;
    }
    .FeaturedCollections .collections .collection2{
        width: 95%;
        height: 400px;
        margin: 10px 0px;
    }
    .FeaturedCollections .collections .collection1 .content a,
    .FeaturedCollections .collections .collection2 .content a{
        width: 120px;
        height: 35px;
    }
}