.AnnounceBar{
    background-color: #FA8164;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.AnnounceBar a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AnnounceBar a:hover{
    background-color: #ff7d5d;
}

