.BestSellers .cards .indivCard{
    width: 350px;
    height: 560px;
    transition: 0.15s ease-in;
    text-decoration: none;
    margin: 10px;
}

.BestSellers .cards .indivCard:hover{
    box-shadow: 0 2px 4px rgba(168, 168, 168, 0.23), 0 2px 4px rgba(168, 168, 168, 0.23);
}

.BestSellers .cards .indivCard .thumb{
    width: 100%;
    height: 450px;
}

.BestSellers .cards .indivCard .thumb img{
    width: 100%;
    height: 100%;
}

.BestSellers .cards .indivCard .category{
    padding-left: 20px;
}

.BestSellers .cards .indivCard .category h6{
    margin-bottom: 5px;
    color: #fa8164;
}

.BestSellers .cards .indivCard .title{
    padding-left: 20px;
}

.BestSellers .cards .indivCard .title h3{
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #111;
}

.BestSellers .cards .indivCard .price{
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #111;
}